@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Henny Penny', cursive;
  background-color: #F0F2F2;
  color: #011640;
}

.detalhe {
  color: #E83338;
}

.imagem {
  padding: 3rem;
}

h1 {
display: flex;
justify-content: center;
font-size: 4rem;
}

h2 {
  font-size: 4rem;
  padding: 2rem;
}

.estrelas {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.coming-soon {
  min-height: 100vh; 
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
}

.countdown {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.day, .hour, .minute, .second {
  font-size: 3rem;

}